@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Alegreya', serif;
    font-weight: 400;
    text-transform: capitalize;

}

.clr {
    clear: both;
    height: 20px;
}

.container {
    margin: auto;
    width: 80%;
}

.header {
    background-image: url(../image/headerBackground.jpg);
    height: 50vh;
    background-size: cover;
    color: white;
    overflow: hidden;

}

.logo {
    float: left;
    margin-top: 5px;
}

.logo img {
    width: 150px;
}
 

.links {
    float: right;
}

.links li {
    float: left;
}

.links li a.active {
    color: rgb(255, 255, 255);
}

.links li a {
    color: white;
}



h1 {
    font-size:50px;
}

.header-content {
    text-align: center;
    margin-top: 100px;
}

.header-content img {
  width: 250px;
}

 
 
.menu {
    padding-top: 30px;
    text-align: center;
}

.menu .container h2 {
    margin-bottom: 20px;

}

.menu .container p {
    margin-bottom: 20px;
    width: 80%;
    margin: auto;
    line-height: 30px;
}

.item {
    float: left;
    width: 30%;
    box-sizing: border-box;
    margin-bottom: 20px;
    cursor: pointer;
    margin: 10px;
}

@media screen and (min-width:200px) and (max-width:1000px) {
    .header {
        background-size: 900px 1100px;
    }

}

.item img {
    width: 100%;
    transition: 1.5ms;

}

.item:hover img {
    transform: scale(1.01);
  }
.item:hover h3{
     color: #bb3b3b;
  }

.item h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}
button{
    background: none;
    border: none;
}

.item p {
    width: 100%;
}

.test {
    background-image: url(../image/cover\ background.jpg);
    background-attachment: fixed;
    padding: 227px;
}

/* footer */
footer {
    background-color: #353330;
    height: 50vh;

}

footer .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


footer .container p {
    font-family: Alegreya, serif;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    color: rgb(150, 150, 150);
    width: 250px;
    text-align: center;
}