 
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Alegreya', serif;
    font-weight: 400;
    text-transform: capitalize;

}

.clr {
    clear: both;
    height: 20px;
}

.container {
    margin: auto;
    width: 80%;
}

.header {
    background-image: url(../image/headerBackground.jpg);
    height: 30vh;
    background-size: cover;
    color: white;
    overflow: hidden;

}

.logo {
    float: left;
    margin-top: 5px;
}

.logo img {
    width: 150px;
}

.navbar {
    width: 80%;
    position: fixed;
}

.links {
    float: right;
}

.links li {
    float: left;
}

.links li a.active {
    color: rgb(255, 255, 255);
}

.links li a {
    color: white;
}



h1 {
    font-size: 76px;
}

.header-content {
    text-align: center;
    margin-top: 100px;
}

.header a {
    text-decoration: none;
    padding: 20px 30px;
    margin-top: 20px;
    display: inline-block;
    font-weight: 900;
    border-radius: 10px;
    border: none;
}

.header p {
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
}

.btn-learn {
    background-color: #c1ab84;
    color: white;
}

.btn-book {
    background-color: white;
    color: black;
}


ul {
    list-style: none;
}
 

.img-about {
    float: left;
    width: 50%;
}

.img-about>img {
    width: 80%;
}

.info-about {
    float: left;
    width: 50%;
}

.info-about h2 {
    margin-bottom: 30px;
    font-size: 36px;
    color: rgb(73, 48, 72);
}

.info-about h3 {
    font-family: 'Dancing Script', cursive;
    color: rgb(193, 171, 132);
    font-size: 28px;   
     margin-bottom: 30px;

} 
.info-about ul li i {
    background-color: #c1ab84;
    color: white;
    padding: 15px;
    border-radius: 50%;
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    transition: 0.5s;
    border:#c1ab84 solid 1px ;
 }
.info-about ul li span{
    
    font-size: 22px;
    transition: 0.5s;
     padding: 10px;
 }

.info-about ul li:hover i {
    color: #c1ab84;
    background: none;
    transform: rotate(365deg) ;
}

.info-about ul li:hover span{
  font-size: x-large;
  color: #c1ab84 ;
 }
 
.footer {
    background-color: #353330;
    height: 50vh; 
    width: 100%;
    display: inline-block;
}

.footer .container {
 
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.footer .container p {
    font-family: Alegreya, serif;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    color: rgb(150, 150, 150);
    width: 250px;
    text-align: center;
}